body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.game-title {
  font-family: "Montserrat" sans-serif;
  line-height: 0.7;
  margin: 0 auto;
  text-align: left;
  width: 1.875em;
  margin-top: 24px;
}

section {
  text-align: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  list-style-type: none;
  margin: 50px auto;
  width: 480px;
  padding-left: 0;
}

.cell {
  font-family: "Permanent Marker", cursive;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background-color: #efefef;
  border-radius: 4px;
  line-height: 150px;
  font-size: 60px;
}

.game-restart {
  background-color: #fff;
  border-radius: 4px;
  transition: 0.5s ease;
  border: 1px solid #ffa000;
  height: 80px;
  width: 320px;
  color: #333;
  outline: none;
}

.game-restart:hover {
  background-color: #ffa000;
  border: 1px solid #fff;
}
